button {
    background: #ffffff;
    display: inline-block;
    width: 100%;
    min-width:100%;
    height: 20%;
    -webkit-appearance: none; 
/*    padding: 0 20px; width: 100%; height: 100%; vertical-align: middle; */
}
img {
    width: 99%;
    min-width:99%;
    padding-top: 4px;
    vertical-align:center;
}
input {
    display: inline-block;
    padding-top:2em;
    font-size: 2em;
    width:100%;
}


screen {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}